$primary:#fb6376;
$secondary:#1D7A8C;
$third:#00233A;
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

body {
  font-family: 'Zilla Slab', serif;;
  height: 60%;
  margin: 0;
  padding: 0;
}

.cardStyle {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  max-height: 300px;
  max-width: 300px;
  padding: 20px;
}

.centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.img {
  height: 25vw;
  object-fit: cover;
  width: 200px;
}

.display-image{
  max-width: 200px;
  max-height: 200px;
  margin: 20px auto;
}
.updateForm {
  border-radius: 25px;
}
.upButton {
  border-radius: 15px;
  background-color: $primary;
  margin: auto;
  color: white;
}

.card-body{
  display: flex;
  justify-content: center;
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
